{% extends "poll/layout.html" %}

{% block body %}
    <div class="alert alert-primary" role="alert">
        <h1 class="baz"> Bienvenido {{ request.user.username }} al reporte de votaciones por Forum Digital </h1>
    </div>
    <ul>
        Nombre:  {{ request.user.first_name }}<br> 
        Apellido: {{ request.user.last_name }}<br> 
        Dirección de correo electrónico: {{ request.user.email }}<br> 
    </ul>
    <h1>Votaciones</h1>
    <ul>
        {% for poll in polls %}
            <li>
                <a href="{% url 'poll' poll.id %}"> 
                    {{ poll.question }}
                </a>
            </li>
        {% empty %}
            <li>No hay votaciones</li>
        {% endfor %}
    </ul>
{% endblock %}