{% extends "poll/layout.html" %}

{% block body %}
    <div class="alert alert-primary" role="alert">
        <h1 class="baz"> Bienvenido {{ request.user.username }} a las votaciones de Forum Digital </h1>
    </div>
    <ul>
        <li>Nombre:  {{ request.user.first_name }} </li>
        <li>Apellido: {{ request.user.last_name }}</li>
        <li>Dirección de correo electrónico: {{ request.user.email }} </li>
    </ul>
    <h1>Votaciones</h1>
    <ul>
        {% for poll in polls %}
            <li>
                <a href="{% url 'poll' poll.id %}"> 
                    {{ poll.question }}
                </a>
            </li>
        {% empty %}
            <li>No hay votaciones</li>
        {% endfor %}
    </ul>
{% endblock %}

