{% extends "poll/layout.html" %}

{% block body %}
    <h1>
        Reporte para {{ request.user.username }} de la votación:
    </h1>
    <h1 class="baz">
        {{ poll.question }}
    </h1>
    
    <ul>
        Método: {{ poll.method }}<br>
        Parámetro: {{ poll.parameter }}<br>
        Criterio: {{ poll.criteria }}<br>
        <p></p>
        <h2>Horario</h2>
        Inicio de la votación: {{ poll.start_time }}<br>
        Fin de la votación: {{ poll.end_time }}<br>
    </ul>


    <h2>Opciones</h2>
    <ul>
        {% for option in options %}
            <h3>                
                {{ option.answer }}
            </h3>
            <ul>
                {% if poll.criteria == "Coeficiente" %}
                    Coeficiente alcanzado: {{ option.coeficient }}<br>
                {% endif %}
                {% if poll.criteria == "Individual" %}
                    Votos alcanzados: {{ option.votes }}<br>
                {% endif %}
                {% if poll.criteria == "Acciones" %}
                    Acciones votando por esta opción : {{ option.shares }}<br>
                {% endif %}
            </ul>
            {% empty %}
                <p>No hay opciones</p>
        {% endfor %}
    </ul>
    <h2>Votos</h2>
    <table>
        <thead>
            <th>Opción</th>
            <th>Hora del voto</th>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            {% if poll.criteria == "Coeficiente" %}
                <th>Coeficiente</th>
            {% endif %}
            {% if poll.criteria == "Acciones" %}
                <th>Acciones</th>
            {% endif %}
        </thead>
        <tbody>
            {% for vote in votes %}
                <tr>
                    <td>{{ vote.option.answer }}</td>
                    <td>{{ vote.vote_time }}</td>
                    <td>{{ vote.voter }}</td> 
                    <td>{{ vote.voter.first_name }} </td>
                    <td>{{ vote.voter.last_name }}</td> 
                    {% if poll.criteria == "Coeficiente" %}
                        <td>{{ vote.voter.profile.coeficient }}</td> 
                    {% endif %}
                    {% if poll.criteria == "Acciones" %}
                        <td>{{ vote.voter.profile.shares }}</td> 
                    {% endif %}
                </tr>
                {% empty %}
                <h2>No hay votos</h2>
            {% endfor %}
        </tbody>
    </table>

    <h2>Abstenciones</h2>
    <table>
        <thead>
            <th>Usuario</th>
            <th>Nombre</th>
            <th>Apellido</th>
            {% if poll.criteria == "Coeficiente" %}
                <th>Coeficiente</th>
            {% endif %}
            {% if poll.criteria == "Acciones" %}
                <th>Acciones</th>
            {% endif %}
        </thead>
        <tbody>
            {% for vote in no_voters %}
                <tr>
                    <td>{{ vote }}</td> 
                    <td>{{ vote.first_name }} </td>
                    <td>{{ vote.last_name }}</td> 
                    {% if poll.criteria == "Coeficiente" %}
                        <td>{{ vote.profile.coeficient }}</td> 
                    {% endif %}
                    {% if poll.criteria == "Acciones" %}
                        <td>{{ vote.profile.shares }}</td> 
                    {% endif %}
                </tr>
                {% empty %}
                <h2>No hay abstenciones</h2>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}