{% extends "poll/layout.html" %}

{% block body %}
    <div class="alert alert-warning" role="alert">
        <h1 class="baz"> {{ request.user.username }}, este es el puesto de votación</h1>
    </div>
    {% if message %}
        <div class="alert alert-warning" role="alert">
            {{ message }}
        </div>
    {% endif %}
    <h1> 
    ¿En cuál votación quiere participar?</h1>
    <ul>
        {% for poll in polls %}
            <h2>
                <a href="{% url 'voto' poll.id %}"> 
                    {{ poll.question }}
                </a>
            </h2>
            {% empty %}
                <li>No hay votaciones</li>
        {% endfor %}
    </ul>
{% endblock %}