
h1, h2  {
    color: darkblue;
    text-align: center;
}

h3 {
    color: darkblue;
}

button {
    width: 200px;
    height: 50px;
    font-size: 24px;
    background-color: royalblue;
}

button:hover {
    background-color: orange;
}

a:hover {
    font-weight: bolder;
}

table {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-family : Arial, sans-serif;
    width: 100%;
}

td, th {
    border: 1px solid darkblue;
    font-family : Arial, sans-serif;
    padding: 2px;
}

ul  li {
    color: black;
    font-family : Arial, sans-serif;
}

.header {
    background-color: orange;
    width: 100%;
}

.footer {
    text-align: center;
}

.division {
    border: 0px solid yellow;
    font-family: Arial, sans-serif;
    font-size: initial;
    font-weight: normal;
    width: 600px;
    height: 450px;
    padding: 5px;
    margin: 3px;
}

.baz {
    color: red;
    text-align: center;
}

@media (min-width: 600px) {
    body {
        background-color: lightyellow;
    }
}

@media (max-width: 599px) {
    body {
        background-color: lightblue;
    }
}

#container {
    display: flex;
    flex-wrap: wrap;
}

#container > div {
    background-color: lightgreen;
    font-size: 20px;
    margin: 10px;
    padding: 10px;
    width: 200px;
}

#grid {
    background-color: lightsteelblue;
    display: grid;
    padding: 20px;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: 200 auto;
}

.grid-item {
    background-color: whitesmoke;
    font-size: 20px;
    padding: 20px;
    text-align: center;
}