{% extends "poll/layout.html" %}

{% block body %}
    <div>
        <div class="alert alert-warning" role="alert">
            <h1>Usuario: {{ request.user }}</h1>
        </div>
        <ul>
            <li>Nombre:  {{ request.user.first_name }} </li>
            <li>Apellido: {{ request.user.last_name }}</li>
            <p></p>
            <li>Coeficiente: {{ request.user.profile.coeficient }}</li>
            <li>Acciones: {{ request.user.profile.shares }}</li>
            <p></p>
            <li>
                Dirección de correo electrónico: <a href="mailto:{{ request.user.email }}">{{ request.user.email }} </a>
            </li>
        </ul>
        <table>
            <thead>
                <th>Votación</th>
                <th>Selección</th>
                <th>Hora del voto</th>
            </thead>
            <tbody>
                {% for vote in votos %}
                    <tr>
                        <td>{{ vote.poll }}</td>
                        <td>{{ vote.option }}</td>
                        <td>{{ vote.vote_time }}</td> 
                    </tr>
                    {% empty %}
                    <h2>No hay votos registrados</h2>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}